[Unit]
Description=NPCC Tally Camera 2
After=network.target
ConditionHost=NPCCTallyCamera2

[Service]
ExecStart=/home/pi/tallyPi/tallyRecv 2
WorkingDirectory=/home/pi/tallyPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
