[Unit]
Description=NPCC Tally Camera 1
After=network.target
ConditionHost=NPCCTallyCamera1

[Service]
ExecStart=/home/pi/tallyPi/tallyRecv 1
WorkingDirectory=/home/pi/tallyPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
