[Unit]
Description=NPCC Tally Service
After=network.target

[Service]
ExecStart=/boot/NPCC/tallyPi.sh
WorkingDirectory=/home/pi/tallyPi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Install]
WantedBy=multi-user.target
